DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_USER=root
DATABASE_PASSWORD=
UPSTASH_REDIS_REST_URL=https://topical-meerkat-180850.upstash.io
UPSTASH_REDIS_REST_TOKEN=
NEXTAUTH_SECRET=